.footerDiv {
  background-color: rgb(1, 24, 75);
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px 5px;
  border-radius: 5px;
  margin-top: 50px;
}
.icons {
  display: flex;
  margin: 5px 20px;
  justify-content: space-around;
}
